<li class="children__item">
		<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Prim's algorithm</div>
		</div>
</li>
<li class="children__item">
		<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Kruskal's algothm</div>
		</div>
		<ol class="children">
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('', '')">Disjoint subsets and union-find</div>
			</div>
			</li>
		</ol>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Dijkstra's algorithm</div>
	</div>
</li>
<li class="children__item">
		<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Frontiers : path finding</div>
		</div>
		<ol class="children">
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('', '')">Graph-based search</div>
			</div>
			</li>
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('', '')">A* search</div>
			</div>
			</li>
		</ol>
</li>
<li class="children__item">
		<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Data compression</div>
		</div>
		<ol class="children">
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('', '')">Fixed length codes ASCII</div>
			</div>
			</li>
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('', '')">Variable length codes</div>
			</div>
			</li>
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('', '')">Entropy</div>
			</div>
			</li>
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('', '')">Huffman's</div>
			</div>
			<ol class="children">
				<li class="children__item">
				<div class="node node_yellow">
				<div class="node__text" ng-click="open('', '')">Huffman trees</div>
				</div>
				</li>
				<li class="children__item">
				<div class="node node_yellow">
				<div class="node__text" ng-click="open('', '')">Huffman codes</div>
				</div>
				</li>
			</ol>
			</li>
		</ol>
</li>
