<li class="children__item">
	<div class="node node_navy">
	<div class="node__text" ng-click="open('', 'ch4/detail/ethic_con.html')">Professional Ethics</div>
	</div>
	<ol class="children">
		<li class="children__item">
			<div class="node node_green">
			<div class="node__text" ng-click="open('', 'ch4/detail/separate_con.html')">Why a Separate Category?</div>
			</div>
		</li>
		<li class="children__item">
			<div class="node node_green">
			<div class="node__text" ng-click="open('', 'ch4/detail/profession_con.html')">What is a Profession?</div>
			</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node node_navy">
	<div class="node__text" ng-click="open('', 'ch4/detail/itpro_con.html')">Who is an IT Professional?</div>
	</div>
	<ol class="children">
		<li class="children__item">
			<div class="node node_green">
			<div class="node__text" ng-click="open('', 'ch4/detail/critical_con.html')">Critical-Safety Software</div>
			</div>
		</li>
		<li class="children__item">
			<div class="node node_green">
			<div class="node__text" ng-click="open('', 'ch4/detail/code_con.html')">Professional Codes for IT Societies</div>
			</div>
		</li>
		<li class="children__item">
			<div class="node node_green">
			<div class="node__text">Conflicts of Professional Responsibility</div>
			</div>
			<ol class="children">
	      <li class="children__item">
	      <div class="node node_brown">
	      <div class="node__text" ng-click="open('', 'ch4/detail/loyalty_con.html')">Employee Loyalty</div>
	      </div>
	      </li>
	      <li class="children__item">
	      <div class="node node_brown">
	      <div class="node__text" ng-click="open('', 'ch4/detail/whistle_con.html')">￼Whistle-blowing</div>
	      </div>
	      </li>
				<li class="children__item">
				<div class="node node_brown">
				<div class="node__text" ng-click="open('', 'ch4/detail/case_con.html')">￼Case study</div>
				</div>
				<ol class="children">
					<li class="children__item">
						<div class="node node_yellow">
						<div class="node__text" ng-click="open('', 'ch4/detail/edward_con.html')">Edward Snowden</div>
						</div>
					</li>
					<li class="children__item">
						<div class="node node_yellow">
						<div class="node__text" ng-click="open('', 'ch4/detail/bradley_con.html')">Bradley Manning</div>
						</div>
					</li>
					<li class="children__item">
						<div class="node node_yellow">
						<div class="node__text" ng-click="open('', 'ch4/detail/wikileak_con.html')">Wikileaks</div>
						</div>
					</li>
				</ol>
				</li>
	    </ol>
		</li>
		<li class="children__item">
			<div class="node node_green">
			<div class="node__text" ng-click="open('', 'ch4/detail/rla_con.html')">Responsibility, Liability, and Accountability</div>
			</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node node_navy">
	<div class="node__text" ng-click="open('', 'ch4/detail/tutorial_con.html')">Tutorial</div>
	</div>
</li>
