<li class="children__item">
		<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Decrease-by-a-constant</div>
		</div>
		<ol class="children">
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('', 'decrease/detail/insert_con.html')">Insertion sort</div>
			</div>
			<ol class="children">
				<li class="children__item">
				<div class="node node_yellow">
				<div class="node__text" ng-click="open('', 'decrease/detail/shell_con.html')">Shell sort</div>
				</div>
				</li>
			</ol>
			</li>
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('', 'decrease/detail/topological_con.html')">Topological sort</div>
			</div>
			<ol class="children">
				<li class="children__item">
				<div class="node node_yellow">
				<div class="node__text" ng-click="open('', 'decrease/detail/dfs_con.html')">DFS method</div>
				</div>
				</li>
				<li class="children__item">
				<div class="node node_yellow">
				<div class="node__text" ng-click="open('', 'decrease/detail/rem_con.html')">Source removal method</div>
				</div>
				</li>
			</ol>
			</li>
		</ol>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Decrease-by-a-constant-factor</div>
	</div>
	<ol class="children">
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('', 'decrease/detail/binary_con.html')">Binary search</div>
		</div>
		<ol class="children">
			<li class="children__item">
			<div class="node node_yellow">
			<div class="node__text" ng-click="open('', 'decrease/detail/binary_ana_con.html')">Analysis</div>
			</div>
			</li>
		</ol>
		</li>
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('', 'decrease/detail/twobinary_con.html')">Two-way binary search</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('', '')">Fake-coin problem</div>
		</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Variale-size-decrease</div>
	</div>
	<ol class="children">
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('', 'decrease/detail/bitree_con.html')">Binary tree search</div>
		</div>
		<ol class="children">
			<li class="children__item">
			<div class="node node_yellow">
			<div class="node__text" ng-click="open('', 'decrease/detail/bst_con.html')">BST Traversal</div>
			</div>
			<ol class="children">
				<li class="children__item">
				<div class="node node_orange">
				<div class="node__text" ng-click="open('', 'decrease/detail/preorder_con.html')">Pre-order</div>
				</div>
				</li>
				<li class="children__item">
				<div class="node node_orange">
				<div class="node__text" ng-click="open('', 'decrease/detail/inorder_con.html')">In-order</div>
				</div>
				</li>
				<li class="children__item">
				<div class="node node_orange">
				<div class="node__text" ng-click="open('', 'decrease/detail/postorder_con.html')">Post-order</div>
				</div>
				</li>
			</ol>
			</li>
		</ol>
		</li>
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('', 'decrease/detail/bstinsert_con.html')">BST insert</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('', 'decrease/detail/bstdelete_con.html')">BST delete</div>
		</div>
		</li>
	</ol>
</li>
