<li class="children__item">
		<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Mergesort</div>
		</div>
		<ol class="children">
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('', '')">Analysis</div>
			</div>
			</li>
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('', '')">Recursion</div>
			</div>
			</li>
		</ol>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Master theorem</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Quick sort</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Convex Hull</div>
	</div>
	<ol class="children">
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('', '')">Quick Hull</div>
		</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Closest Pair</div>
	</div>
	<ol class="children">
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('', '')">Complexity</div>
		</div>
		</li>
	</ol>
</li>
