<li class="children__item">
		<div class="node node_green">
		<div class="node__text" ng-click="open('', 'divide/detail/mergesort_con.html')">Mergesort</div>
		</div>
		<ol class="children">
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('', 'divide/detail/mergesort_ana_con.html')">Analysis</div>
			</div>
			</li>
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('', 'divide/detail/mergesort_recur_con.html')">Recursion</div>
			</div>
			</li>
		</ol>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Master theorem</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', 'divide/detail/quicksort_con.html')">Quick sort</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Convex Hull</div>
	</div>
	<ol class="children">
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('', 'divide/detail/quickhull_con.html')">Quick Hull</div>
		</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Closest Pair</div>
	</div>
	<ol class="children">
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('', '')">Complexity</div>
		</div>
		</li>
	</ol>
</li>
