<li class="children__item">
		<div class="node node_green">
		<div class="node__text" ng-click="open('', 'type/detail/set_con.html')">Set</div>
		</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Dictionary / Map</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Multimap</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Sequences</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Stack</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Queue</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Priority queue</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Graph</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Tree</div>
	</div>
</li>
