<li class="children__item">
		<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Coin-row problem</div>
		</div>
</li>
<li class="children__item">
		<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Edit distance</div>
		</div>
		<ol class="children">
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('', '')">Backtrace</div>
			</div>
			</li>
		</ol>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Knapsack</div>
	</div>
	<ol class="children">
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('', '')">Bottom-up</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('', '')">Top-down</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('', '')">Backtrace</div>
		</div>
		</li>
	</ol>
</li>
<li class="children__item">
		<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Warshall's</div>
		</div>
</li>
<li class="children__item">
		<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Floyd's</div>
		</div>
</li>
