<li class="children__item">
	<div class="node node_navy">
	<div class="node__text" ng-click="open('', 'ch2/detail/cloud_con.html')">Cloud computing</div>
	</div>
	<ol class="children">
		<li class="children__item">
		<div class="node node_green">
		<div class="node__text"  ng-click="open('', 'ch2/detail/character_con.html')">Characteristics</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_green">
		<div class="node__text"  ng-click="open('', 'ch2/detail/virtual_con.html')">Virtualization</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_green">
		<div class="node__text"  ng-click="open('', 'ch2/detail/farm_con.html')">Server farm</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_green">
		<div class="node__text"  ng-click="open('', 'ch2/detail/type_con.html')">Types of cloud</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_green">
		<div class="node__text"  ng-click="open('', 'ch2/detail/service_con.html')">Services</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_green">
		<div class="node__text"  ng-click="open('', 'ch2/detail/benefit_con.html')">Benefits</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_green">
		<div class="node__text"  ng-click="open('', 'ch2/detail/concern_con.html')">Concerns</div>
		</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node node_navy">
	<div class="node__text" ng-click="open('', 'ch2/detail/infrastructure_con.html')">IT infrastructure</div>
	</div>
	<ol class="children">
		<li class="children__item">
		<div class="node node_green">
		<div class="node__text"  ng-click="open('', 'ch2/detail/mainframe_con.html')">Standalone mainframes</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_green">
		<div class="node__text"  ng-click="open('', 'ch2/detail/dump_con.html')">Dumb Terminal</div>
		</div>
		<li class="children__item">
		<div class="node node_green">
		<div class="node__text"  ng-click="open('', 'ch2/detail/server_con.html')">Client-server computing</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_green">
		<div class="node__text"  ng-click="open('', 'ch2/detail/evo_con.html')">Evolution of IT infrastructure</div>
		</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node node_navy">
	<div class="node__text" ng-click="open('lg', 'ch2/detail/tutorial_con.html')">Tutorial 2</div>
	</div>
</li>
