<li class="children__item">
		<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Sorting</div>
		</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Searching</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">String Processing</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Graph problems</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Combinatorial problems</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Geometric problems</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Numerical problems</div>
	</div>
</li>
