<li class="children__item">
		<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Array</div>
		</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Linked list</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">String</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Binary search tree</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
		<div class="node__text" ng-click="open('', '')">Hash Table</div>
	</div>
</li>
