<li class="children__item">
	<div class="node node_navy">
	<div class="node__text" ng-click="open('', 'ch4/detail/ethic_con.html')">Sustainability Ethics</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_navy">
	<div class="node__text" ng-click="open('', 'ch4/detail/ethic_con.html')">Environmental ethics</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_navy">
	<div class="node__text" ng-click="open('', 'ch4/detail/tutorial_con.html')">Tutorial</div>
	</div>
</li>
